<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/style-form2.css">
  <title>Title</title>
</head>
<body>
<div class="container">
  <div class="root">
    <img class="background_img" src="../img/background_form2.jpg" alt="">
    <div class="main__container">
      <div class="form__sign-in">
        <form action="">
          <div class="header_form">
            <h3>Sign In</h3>
          </div>

          <div class="input__field">
            <input type="text" placeholder="username or email">
          </div>
          <div class="input__field">
            <input type="password" placeholder="password">
          </div>
          <div class="btn__sign-in">
            <button>SIGN IN</button>
          </div>
          <div class="other-login">
            <div class="sub__other-login">
              <span>Or login with</span>
            </div>
            <div class="login__icon">
              <a href="">
                <img class="img-login" src="../img/facebook-login.png" alt="">
              </a>
              <a href="">
                <img class="img-login" src="../img/google-login.png" alt="">
              </a>
            </div>
          </div>

          <div class="sign__up">
            <a href="">Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>

