<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="../css/style-navbar.css" rel="stylesheet">
  <title>Title</title>
</head>
<body>
<div class="container">
  <nav class="nav-bar">
    <ul class="items">
      <li>HOME</li>
      <li>
        <span>PRODUCTS</span>
        <ul class="child-items">
          <li>Tivi</li>
          <li>Máy tính xách tay</li>
        </ul>
      </li>
      <li>ABOUT US</li>
      <li>CONTACT</li>
    </ul>
  </nav>
</div>
</body>
</html>
